.mainDiv {
  background: rgb(7,3,140);
  background: linear-gradient(180deg, rgba(7,3,140,1) 0%, rgba(9,9,121,1) 46%, rgba(255,255,255,1) 100%);
  width: 100%;
  height:75vh;
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
    /* align-items: center; */
    justify-content: space-around;
    display: flex;
    float: none;
}
.QuizzingImg {
  width: 50vh;
  height: 25vh;
  margin-top: 10%;
}

.title {
  margin-top: 10%;
  font-family: "Jazz LET," fantasy;
  color: white;
  font-size: 10vh;
}
