<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/styles/index.css">
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script> -->

    <script src="/static/js/index.js"></script>
    <title></title>
  </head>
  <body>

    </div>
    <div class="mainDiv">
        <div ><img src="/static/images/webname.png" alt="quizzing" class="QuizzingImg">
          <h2 class="title"><strong>Master Your Subjects</strong></h2>
        </div>
    </div>

    <div class="button holder container">
      <div class="row justify-content-around">
        <div class="col-6 text-center">
          <button onclick="hideError()" type="button" class="btn btn-success btn-lg" type="button" data-toggle="modal" data-target="#joinForm">Join Us</button>


        </div>
        <div class="col-6 text-center">
          <button type="button" class="btn btn-primary btn-lg"  type="button" data-toggle="modal" data-target="#loginForm">Log In</button>
        </div>
      </div>

    </div>
    <!-- signup form -->
        <div class="modal fade" id="joinForm" tabindex="-1" role="dialog"  aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">On your way to success!</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">

                <form method="post" action="signup">
                  {% csrf_token %}
                  {% for field in signup_form %}
                    <p>
                      {{ field.label_tag }}<br>
                      {{ field }}
                      {% if field.help_text %}
                        <small style="color: grey">{{ field.help_text }}</small>
                      {% endif %}
                      {% for error in field.errors %}
                        <p style="color: red">{{ error }}</p>
                      {% endfor %}
                    </p>
                  {% endfor %}
                  <button type="submit">Sign up</button>
                </form>




                <!-- <form class="" action="join/" method="post">
                  <div class="form-group">
                    <span class="input-group-addon">username</span>
                    <input type="text" class="form-control" name="username" placeholder="Ahmed345" required="true">
                  </div>
                  <div class="form-group">
                    <span class="input-group-addon">email</span>
                    <input type="text" class="form-control" name="email" placeholder="ahmed@gmail.com" required="true">
                  </div>
                  <div class="form-group">
                    <span class="input-group-addon">password</span>
                    <input type="password" class="form-control" name="password1" placeholder="***********" required="true">
                  </div>
                  <div class="form-group">
                    <span class="input-group-addon">re-type password</span>
                    <input type="password" class="form-control" name="password2" placeholder="***********" required="true">
                  </div>
                  <div class="modal-footer">
                    <button type="submit" class="btn btn-success">Sign Up</button>
                  </div>
                </form> -->




              </div>

            </div>
          </div>
        </div>



        <!-- login form -->
            <div class="modal fade" id="loginForm" tabindex="-1" role="dialog"  aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Welcome Back!</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <form method="post" action="login">
                      {% csrf_token %}
                      {% for field in login_form %}
                        <p>
                          {{ field.label_tag }}<br>
                          {{ field }}
                          {% if field.help_text %}
                            <small style="color: grey">{{ field.help_text }}</small>
                          {% endif %}
                          {% for error in field.errors %}
                            <p style="color: red">{{ error }}</p>
                          {% endfor %}
                        </p>
                      {% endfor %}
                      <button class="btn-success" type="submit">Sign In</button>
                    </form>
                    <!-- <form class="" action="/login" method="post">
                      <div class="form-group">
                        <span class="input-group-addon">username</span>
                        <input type="text" class="form-control" name="username" placeholder="Ahmed345" required="true">
                      </div>
                      <div class="form-group">
                        <span class="input-group-addon">password</span>
                        <input type="password" class="form-control" name="password" placeholder="***********" required="true">
                      </div>
                      <div class="modal-footer">
                        <button type="submit" class="btn btn-primary">login</button>
                      </div>
                    </form> -->
                  </div>

                </div>
              </div>
            </div>

            <div id="errorBox" class=" errorBox">
              <span class="popuptext" id="myPopup"> {{messages}} </span>
            </div>

  </body>
</html>
